.bo {
  height: 20vh;
  width: 20vh;
  background-color: aqua;
  color: red;
  font-size: 50px;
  border: solid 1px black;
}

.table {
  position: relative;
  right: -350px;
}

.ontop {
  position: relative;
  right: -425px;
}

.human {
  position: relative;
  right: -240px;
  bottom: -80px;
}

.computer {
  position: relative;
  right: -100px;
  bottom: -120px;
}